### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_player=purchase_data["SN"].unique()
total_player_num=len(total_player)
total_player_table=pd.DataFrame({"Total Players":[len(total_player)]})
total_player_table

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
total_revenue=purchase_data["Price"].sum()
average_price=round(purchase_data["Price"].mean(),2)
items=len(purchase_data["Item ID"].unique())
total_purchase=purchase_data["Purchase ID"].count()

summary_table=pd.DataFrame({"Number of unique items": [items], "Average Price" :[average_price], "Total Number of Purchases":[total_purchase],"Total Revenue": [total_revenue]})
summary_table["Average Price"]=summary_table["Average Price"].map("${:.2f}".format)
summary_table["Total Revenue"]=summary_table["Total Revenue"].map("${:.2f}".format)
summary_table

,Number of unique items,Average Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender=purchase_data.drop_duplicates(subset='SN', keep="last")
male_count=gender["Gender"].value_counts()

male_count_DATA=pd.DataFrame(male_count)

male_count_DATA["Percentage of Total Players"]=round((male_count_DATA["Gender"]/total_player_num)*100,2)
male_count_show=male_count_DATA.rename(columns={"Gender":"Total Count"})
male_count_show

                       Total Count  Percentage of Total Players
Male                           484                        84.03
Female                          81                        14.06
Other / Non-Disclosed           11                         1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_group=purchase_data.groupby("Gender")
gender_count=pd.DataFrame(gender_group["Purchase ID"].count())
gender_avg=pd.DataFrame(gender_group["Price"].mean())
gender_total=pd.DataFrame(gender_group["Price"].sum())

#gender_person=pd.DataFrame({"Gender": [round(gender_total["Price"]/male_count,2)]})

merge1=pd.merge(gender_count, gender_avg, on="Gender")
merge2=pd.merge(merge1,gender_total,on="Gender")
#merge3=pd.merge(merge2,gender_person,on="Gender")
#merge3
merge2["Avg Total Purchase per Person"]=round(gender_total["Price"]/male_count,2)

purchasing_analysis=merge2.rename(columns={"Purchase ID": "Purchase Count","Price_x":"Average Purchase Price","Price_y":"Total Purchase Value"})
purchasing_analysis["Average Purchase Price"]=purchasing_analysis["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis["Total Purchase Value"]=purchasing_analysis["Total Purchase Value"].map("${:.2f}".format)
purchasing_analysis["Avg Total Purchase per Person"]=purchasing_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins in which to place values based upon TED Talk views
bins = [0, 9, 14, 19, 24, 29, 34, 39, 576]
# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39", "40+"]

unique_people=purchase_data.drop_duplicates(subset='SN', keep="last")

purchase_data['Age of Summary']=pd.cut(purchase_data["Age"], bins, labels=group_labels)
unique_people['Age of Summary']=pd.cut(unique_people["Age"], bins, labels=group_labels)

age_count=unique_people['Age of Summary'].value_counts()
age_percent=round(100*age_count/total_player_num,2)

age_demo=pd.DataFrame({"Total Count":age_count,"Percentage of Players":age_percent})
new_index=["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39", "40+"]
age_demo2=age_demo.reindex(new_index)
age_demo2

C:\Users\ybai1\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
age_group=purchase_data.groupby("Age of Summary")
unique_people_group=unique_people.groupby("Age of Summary")
a=pd.DataFrame(age_group["SN"].count())
b=pd.DataFrame(round(age_group["Price"].mean(),2))

c=pd.DataFrame(round(age_group["Price"].sum(),2))
d=unique_people_group["Age of Summary"].count()

paa1=pd.merge(a,b,on="Age of Summary")
paa2=pd.merge(paa1,c,on="Age of Summary")
paa2["Avg Total Purchase per Person"]=round(paa2["Price_y"]/d,2)

paa3=paa2.rename(columns={"SN":"Purchase Count","Price_x":"Average Purchase Price","Price_y":"Total Purchase Value"})
paa3["Average Purchase Price"]=paa3["Average Purchase Price"].map("${:.2f}".format)
paa3["Total Purchase Value"]=paa3["Total Purchase Value"].map("${:.2f}".format)
paa3["Avg Total Purchase per Person"]=paa3["Avg Total Purchase per Person"].map("${:.2f}".format)
paa3

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age of Summary,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
sn_group=purchase_data.groupby("SN")
sn_count=sn_group["SN"].count()
sn_avg=sn_group["Price"].mean()
sn_total=sn_group["Price"].sum()


top=pd.DataFrame({"Purchase Count":sn_count,"Average Purchase Price":sn_avg,"Total Purchase Value":sn_total})
top1=top.sort_values(by=['Total Purchase Value'],ascending=False)
top1["Average Purchase Price"]=top1["Average Purchase Price"].map("${:.2f}".format)
top1["Total Purchase Value"]=top1["Total Purchase Value"].map("${:.2f}".format)
top1.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:


item_group=purchase_data.groupby(['Item ID','Item Name'])

item_count=item_group["Purchase ID"].count()
item_avg=item_group["Price"].mean()
item_total=item_group["Price"].sum()

popular=pd.DataFrame({"Purchase Count":item_count,"Item Price":item_avg,"Total Purchase Value":item_total})
popular1=popular.sort_values(by=['Purchase Count'],ascending=False)
popular1["Item Price"]=popular1["Item Price"].map("${:.2f}".format)
popular1["Total Purchase Value"]=popular1["Total Purchase Value"].map("${:.2f}".format)
popular1.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
popular2=popular.sort_values(by=['Total Purchase Value'],ascending=False)
popular2["Item Price"]=popular2["Item Price"].map("${:.2f}".format)
popular2["Total Purchase Value"]=popular2["Total Purchase Value"].map("${:.2f}".format)
popular2.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [12]:
print("According to the analysis conducted above, several conclusions have been made:\n"

 "1: The proportion of male player is significantly higher than female player, with 84% being male and 14% being female respectively. In terms of average purchase price, female and male are no different from each other \n"
 "2: Among all the age groups, people aged between 15-24 are most likely to play our games, with 20-24 being the most prevalent group. At the same time, they also contributed the most total revnenuees \n" 
 "3: Oathbreaker, Last Hope of the Breaking Storm,Fiery Glass Crusader, Nirvana are the most profitable and most popular game at the same time. The most popular games contribute the most profites")

According to the analysis conducted above, several conclusions have been made:
1: The proportion of male player is significantly higher than female player, with 84% being male and 14% being female respectively. In terms of average purchase price, female and male are no different from each other
2: Among all the age groups, people aged between 15-24 are most likely to play our games, with 20-24 being the most prevalent group. At the same time, they also contributed the most total revnenuees
3: Oathbreaker, Last Hope of the Breaking Storm,Fiery Glass Crusader, Nirvana are the most profitable and most popular game at the same time. The most popular games contribute the most profites